{
	"semi": false,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 80,
	"pluginSearchDirs": ["."],
	"svelteSortOrder": "options-styles-scripts-markup",
	"svelteStrictMode": true,
	"svelteBracketNewLine": false,
	"svelteAllowShorthand": false,
	"svelteIndentScriptAndStyle": false,
	"overrides": [
		{
			"files": "*.svelte",
			"options": { "parser": "svelte" }
		}
	]
}
