body {
	padding: 1rem;
	font-family: 'sans';
	color: hsl(220 20% 98%);
	background-color: hsl(220 20% 14%);
}

form {
	margin: 2rem 0;
	display: grid;
	justify-content: start;
	row-gap: 1rem;
}

label {
	display: block;
	margin-bottom: 0.4rem;
	color: hsl(220 20% 80%);
}

input,
button,
select {
	padding: 0.5rem;
	font: inherit;
	color: inherit;
	background-color: hsl(220 20% 20%);
	border: none;
	border-radius: 1rem;
	border: 1px solid hsl(220 20% 28%);
}

button {
	margin-top: 0.4rem;
	font-weight: 700;
	cursor: pointer;
	max-width: 140px;
}

nav {
	display: flex;
	margin-bottom: 1rem;
	gap: 1rem;
	justify-content: space-around;
	align-items: center;
}

a {
	color: inherit;
	padding-bottom: 0.5rem;
}

nav a {
	text-decoration: none;
	border-bottom: 2px solid transparent;
}

nav a:hover {
	border-bottom: 2px solid tomato;
}

.error {
	color: tomato;
}

.success {
	color: palegreen;
}
